!pip install telethon -q
from telethon.sync import TelegramClient
from telethon.sessions import StringSession

api_id = 30837946
api_hash = '662e0ed8d8ec5772e61a73e6d400ef55'
phone = '+93796908504'

client = TelegramClient(StringSession(), api_id, api_hash)
client.connect()
client.send_code_request(phone)
code = input('کد: ')
client.sign_in(phone, code)
print('SESSION:')
print(StringSession.save(client.session))
client.disconnect()
