!pip install telethon -q
import asyncio
from telethon import TelegramClient
from telethon.sessions import StringSession

async def get_session():
    client = TelegramClient(StringSession(), 30837946, '662e0ed8d8ec5772e61a73e6d400ef55')
    await client.connect()
    await client.send_code_request('+93796908504')
    code = input('کد: ')
    await client.sign_in('+93796908504', code)
    print('SESSION:')
    print(StringSession.save(client.session))
    await client.disconnect()

await get_session()
